body{
	background-color: #dea5a4;
	font: italic small-caps bold 16px/2 cursive;
}

.header{
	text-align: center ;
	font: italic 1.2em "Fira Sans", serif;
}

.y2k{
	text-align: center;
}

.navbar a:hover {
	color: green;
}

footer{ 
	border: 1px solid black;
	background-color:#f7bfbe; /* spanish pink*/
	text-align:center;
}

@media screen and (max-width:500px) { 
	footer{ 
	background-color:#e3256b; /* razzmatazz*/
	}
}